*{
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: sans-serif,Poppins;
}
#background-page{
   
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}


/* -----------Weather page---------- */
#container{
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;
    top: 2%;
    left: 5%;
    bottom: 2%;
    right: 5%;
    border-radius: 20px;
    padding: 28px 15px 1px 10px;  
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
#temp-panel{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
#temp-panel h1{
    font-size: 60px;
}


#city-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#city-name{
        font-size: 25px;
}
#city-section{
    display: flex;
    align-items: center;
}

.days div{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
    background-color: #000000de;

    font-size: 12px;
}
.days {
    display: flex;
    justify-content: center;
}
/* serarch box */
#search-box{
    display: flex;
    justify-content: center;
    margin-top: 15px;

}
#search-box input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}
 ::placeholder{
    color: white;
    opacity: 0.6; 
}
#search-box button{
    background-image: url('./component/images/search-icon.png');
    height: 25px;
    width: 25px;
    background-color: transparent;
    background-size: cover;
    filter: invert();
    border: none;
    cursor: pointer;
    
}


/* setting icon */
#setting-icon{
    width: 20px;
    filter: invert();
    position: absolute;
    right: 14px;
    cursor: pointer;
    top: 14px;
}

#user-loc-icon{
    width:18px;
    filter: invert();
    margin: 0px 5px;
}



/* -----------------Setting Page------------- */

.bgimages{
    
    margin: 10px;
}
#bg-main{
    border: 1px solid white;
    border-radius: 10px;
}

#bgimage-container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    z-index: 1;
}
.bgimages input{
    position: absolute;
    margin: 2px;
    z-index: 30;
}

select {
    background-color: transparent;
}
.op{
    background-color: transparent;
}

#setting-container{
    display: flex;
    flex-direction: column;
   
}
#setting-container div{
    margin: 10px 10px;
}

#backBTN{
    text-decoration: none;
    font-size: 20px;
}
#saveBTN{
    background-color: transparent;
    padding: 8px 25px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin: 20px 10px;

}

::-webkit-scrollbar {
 display: none;
}
.days{
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0px 0px;align-items: center;
   justify-content: flex-start;
}
.days div{
    text-align: center;
}
.forcast-selector{
    display: flex;
}
.forcast-selector p{
    margin: 0px 10px;
    cursor: pointer;
}

#list-temp-data{
    list-style:none;
    text-align: center;
    
}
#list-temp-data li{
    margin: 2px;
}
/* Loader */
#loader{
   margin: 0% auto;
}

#last-update{
    display: flex;
    justify-content: center;
    font-size: 10px;
    position:absolute;
    bottom: 10px;
    left: 0px ;
    right: 0px;  
    color: white;
}




/* ------------Media Quaries------- */

@media (min-width:100px)and (max-width:500px) {
    #container{
        padding:25px 20px 0px 8px;
       top: 1%;
    }
     small{
        font-size: 10px;
    }
    #city-name{
        font-size: 20px;
    }
    #down{
        position: absolute;
        bottom: 40px;
        left: 0px;
        right: 0px;
     
    }
 
}